// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #08AEEA;
$primary-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes
$colors: (
    "white": ($white, $black),
    "black": ($black, $white),
    "light": ($light, $light-invert),
    "dark": ($dark, $dark-invert),
    "primary": ($primary, $primary-invert),
    "info": ($info, $info-invert),
    "success": ($success, $success-invert),
    "warning": ($warning, $warning-invert),
    "danger": ($danger, $danger-invert)
);

// body
$body-size: 1.5rem;
$body-color: white;

@import url('https://fonts.googleapis.com/css?family=Poor+Story');

$body-family: 'Poor Story', cursive;

// titles
$title-color: $body-color;

// text
$text: $white;

// labels
$label-color: white;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";